include calendarcli/data/*
include calendarcli/calendargui/web/*
include calendarcli/calendargui/web/css/*
include calendarcli/calendargui/web/js/*
include calendarcli/calendargui/*.js

include calendarcli/GUI/web/*
include calendarcli/GUI/web/css/*
include calendarcli/GUI/web/js/*
include calendarcli/GUI/*.js